@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{font-family: "Inter", sans-serif;}
h2{
color: #ffffff;
margin-left: 390px}
h2{
font-size: 19.92px;
}
.caja1{
display:flex; 
justify-content: center;
gap:20px;
flex-wrap:wrap;
}

#fondo-pagina {
    background-color: #1b1b1b;
}
.tarjeta{
    border: 1px solid #ffffff;  
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width:340px;
}
p { color: #ffffff;
font-size: 12.8px;}
h3{font-size: 16px;}

a{text-decoration: none;
    color:#ffffff
}

a:hover {
border-bottom: 1px solid white

}
text-align:center
margin-left: 400px
